<% menu_items.order('position ASC').each do |menu_item|
	child_menu_items = current_menu.menu_items.where(parent_id: menu_item.id) %>
	<% if child_menu_items.empty? %>
		<li><%= link_to menu_item.title, menu_item.get_target_path %></li>
	<% else %>
		<li class="dropdown">
			<a href="<%= menu_item.get_target_path %>" class="dropdown-toggle" data-toggle="dropdown">
				<%= menu_item.title %> <b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<%= render :partial => 'odania/shared/menu_part', locals: {menu_items: current_menu.menu_items.where(parent_id: menu_item.id)} %>
			</ul>
		</li>
	<% end %>
<% end %>
