<div class="field">
	<label>Content</label>
	<select data-ng-model="targetData.id">
		<option data-ng-repeat="content in data.contents" value="{{ content.id }}">{{ content.title }}</option>
	</select>
	<br/>
</div>
