<form class="form-horizontal" role="form">
	<div class="row-fluid">
		<div class="col-md-9">
			<h1>Editing Media for {{ getLanguage(currentMenu.language_id).iso_639_1 }} - {{ getSite(currentSite.id).name
				}}</h1>

			<div class="form-group">
				<label class="col-sm-2 control-label" for="site_name">Title</label>

				<div class="col-sm-10">
					<input type="text" id="site_name" data-ng-model="media.title" placeholder="Title" class="form-control"/>
					<span data-ng-if="errors.title" style="color: red;">{{ printErrors(errors.title) }}</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="site_copyright">Copyright</label>

				<div class="col-sm-10">
					<input type="text" id="site_copyright" data-ng-model="media.copyright" placeholder="&copy; Mike Petersen" class="form-control"/>
					<span data-ng-if="errors.copyright" style="color: red;">{{ printErrors(errors.copyright) }}</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Image</label>

				<div class="col-sm-10">
					<div data-ng-if="media.image_thumb_url">
						<%= t('admin.views.edit_media.current_image') %>
						<img data-ng-src="{{ media.image_thumb_url }}" alt="{{ media.title }}" title="{{ media.title }}"/>
					</div>

					<div data-ng-if="upload.file">
						<span>{{ upload.file.webkitRelativePath || upload.file.name }}</span>
						(
							<span ng-switch="upload.file.size > 1024*1024">
								<span ng-switch-when="true">{{upload.file.size / 1024 / 1024 | number:2}} MB</span>
								<span ng-switch-default>{{upload.file.size / 1024 | number:2}} kB</span>
							</span>
						)
					</div>

					<input type="file" data-ng-model-instant onchange="angular.element(this).scope().setFile(this)" />
					<span data-ng-if="errors.image" style="color: red;">{{ printErrors(errors.image) }}</span>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button data-ng-click="saveMedia()" class="btn btn-primary">Save</button>

					<span data-ng-if="errors" style="color: red;">Please correct the errors!</span>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">Is Global</label>

				<div class="col-sm-10">
					<input type="checkbox" data-ng-model="media.is_global">
				</div>
			</div>
		</div>
	</div>
</form>
