<h1>Media for {{ getLanguage(currentMenu.language_id).iso_639_1 }} - {{ getSite(currentSite.id).name }}</h1>

<table class="table">
	<thead>
	<tr>
		<th>Image</th>
		<th>Title</th>
		<th>Is Global</th>
		<th>Language</th>
		<th>Copyright</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	</thead>

	<tbody>
	<tr data-ng-repeat="media in medias">
		<td><img data-ng-src="{{ media.image_thumb_url }}" alt="{{ media.title }}" title="{{ media.title }}" /></td>
		<td>{{ media.title }}</td>
		<td>{{ media.is_global }}</td>
		<td>{{ getLanguage(media.language_id).iso_639_1 }}</td>
		<td>{{ media.copyright }}</td>
		<td><a data-ng-href="#/medias/{{ media.id }}">Show</a></td>
		<td><a data-ng-href="#/medias/{{ media.id }}/edit">Edit</a></td>
		<td><a ng-confirm-click="deleteMedia(media.id)" ng-confirm-message="Are you sure?">Destroy</a></td>
	</tr>
	</tbody>
</table>

<br/>

<a data-ng-href="#/medias/new">New Media</a>
