<%= form_tag do %>
	<%= collection_select(:site, :id, Odania::Site.order_by([:name, :asc]), :id, :name, selected: session[:site_id]) %>
	<%= submit_tag t('Select') %>
<% end %>

<ul>
	<% Odania.admin.admin_pages.each do |admin_page| %>
		<li><%= link_to admin_page[:name], admin_page[:path] %></li>
	<% end %>
</ul>
