
		<div data-ng-repeat="adminWidget in admin.widgets" data-ng-show="adminWidget.template == widget.template">
			{{ adminWidget }}
			<div data-ng-repeat="parameter in adminWidget.parameters">
				{{ parameter }}
			</div>
		</div>
