<div data-ng-repeat="adminWidget in admin.widgets" data-ng-show="adminWidget.template == widget.template">
	{{ field.name }}:
	<div data-ng-if="field.type == 'text'">
		<input type="text" data-ng-model="widget.content[parameter.key][idx][field.key]" class="form-control"/>
	</div>
	<div data-ng-if="field.type == 'number'">
		<input type="number" data-ng-model="widget.content[parameter.key][idx][field.key]" class="form-control"/>
	</div>
	<div data-ng-if="field.type == 'wysiwyg'">
		<div data-text-angular data-ng-model="widget.content[parameter.key][idx][field.key]" data-placeholder="<%= t('admin.views.create_widget.wysiwyg.placeholder') %>"></div>
	</div>
	<div data-ng-if="field.type == 'site'">
		<select data-ng-model="widget.content[parameter.key][idx][field.key]" data-ng-options="site.id as site.name for site in sites" class="form-control"></select>
	</div>
</div>
