<div class="row">
	<div class="col-md-12">
		<h1><%= t('protected.views.dashboard.title', site: current_site.title) %></h1>

		<p><%= t('protected.views.dashboard.welcome_text') %></p>
	</div>
</div>
