<p>
	<strong>Title:</strong>
	{{ media.title }}
</p>

<p>
	<strong>Copyright:</strong>
	{{ media.copyright }}
</p>

<p>
	<strong>Is global:</strong>
	{{ media.is_global }}
</p>

<p>
	<strong>Image:</strong>
	<img data-ng-src="{{ media.image_medium_url }}" alt="{{ media.title }}" title="{{ media.title }}" />
</p>

<p>
	<strong>Language:</strong>
	{{ media.language_id }}
</p>

<a data-ng-href="#!/medias/{{ media.id }}/edit">Edit</a> | <a data-ng-href="#!/medias">Back</a>
