<p>
	<strong>Title:</strong>
	{{ content.title }}
</p>

<p>
	<strong>Body:</strong>
	{{ content.body }}
</p>

<p>
	<strong>Body short:</strong>
	{{ content.body_short }}
</p>

<p>
	<strong>Publish at:</strong>
	{{ content.published_at }}
</p>

<p>
	<strong>Language:</strong>
	{{ content.language_id }}
</p>

<a data-ng-href="#!/contents/{{ content.id }}/edit">Edit</a> | <a data-ng-href="#!/contents">Back</a>
