<h1><%= t('odania.Imprint') %></h1>

<%=raw current_site.imprint %>

<h2><%= t('odania.This page is created with the Open Source Portal') %></h2>
<p><a href="http://www.odania.com">Odania Open Source Portal</a></p>

<br/><br/><br/>
<%= render :partial => 'odania/info/copyright' %>
