<h1><%= t('odania.Terms and Conditions') %></h1>

1. Membership is free of charge. We record your ip and the date at your registration. By registering, the member accepts the sending of the newsletter with the latest offers and advanced advertising. The Member shall ensure that throughout the period of his membership the given email addressis valid and emails can be received. All entered information has to be valid.
Per member and internet, no more than one account be opened. It is not allowed to carry out the registration and use of the service in the name of or on behalf of third parties.

<br/><br/>
2. The provider does not guarantee the continuity of service. For any financial losses that exist due to unavailability, no liability is accepted. The provider is not responsible and liable for deliberate attacks by third parties on its servers and on the Internet.

<br/><br/>
3. The member recognizes with his application to the rules explicitly. Changes will be announced by e-mail. Since emails are not reliable undeliverable, the member should inform himself of any changes in the interest of the rules on the homepage. After the expiry of 14 days, after this change as the member will be deemed accepted. Membership can the membership at any time by deleting the account will be terminated in the login area.

<br/><br/>
4. Salvatorische Klausel: Sollte eine oder mehrere Bestimmungen dieses Vertrages ganz oder teilweise rechtsunwirksam sein, so wird dadurch die Gültigkeit der übrigen Bestimmungen nicht berührt. An die Stelle der unwirksamen Bestimmungen tritt rückwirkend eine inhaltlich möglichst gleiche Regelung, die dem Zweck der gewollten Regelung am nächsten kommt. Sollten einzelne Bestimmungen des Vertrages einschließlich dieser Regelungen ganz oder teilweise unwirksam sein oder werden, oder sollte der Vertrag eine Regelungslücke enthalten, bleibt die Wirksamkeit der übrigen Bestimmungen oder Teile solcher Bestimmungen unberührt. Anstelle der unwirksamen oder fehlenden Bestimmungen treten die jeweiligen gesetzlichen Regelungen. Sollten einzelne Bestimmungen dieses Vertrages unwirksam sein oder werden, so berührt dies die Gültigkeit der übrigen Bestimmungen dieses Vertrages nicht. Die Parteien verpflichten sich, unwirksame Bestimmungen durch neue Bestimmungen zu ersetzen, die der in den unwirksamen Bestimmungen enthaltenen Regelungen in rechtlich zulässiger Weise gerecht werden. Entsprechendes gilt für im Vertrag enthaltene Regelungslücken. Zur Behebung der Lücke verpflichten sich die Parteien auf eine Art und Weise hinzuwirken, die dem am nächsten kommt, was die Parteien nach dem Sinn und Zweck des Vertrages bestimmt hätten, wenn der Punkt von ihnen bedacht worden wäre.
