<p>
	<strong>Name:</strong>
	{{ widget.name }}
</p>

<p>
	<strong>Template:</strong>
	{{ widget.template }}
</p>

<p>
	<strong>Content:</strong>
	{{ widget.content }}
</p>

<a data-ng-href="#!/widgets/{{ widget.id }}/edit">Edit</a> | <a data-ng-href="#!/widgets">Back</a>
