<div class="container-fluid">
	<div class="nav-collapse">
		<ul class="nav nav-list">
			<li><%= link_to t('Dashboard'), protected_path %></li>
			<% Odania.protected.pages.each do |protected_page| %>
				<% if protected_page[:in_menu] and (protected_page[:active].nil? or current_site.plugin_active?(protected_page[:active])) %>
					<li><%= link_to t("protected.menu.#{protected_page[:name]}"), "##{protected_page[:path]}" %></li>
				<% end %>
			<% end %>
		</ul>
	</div>
</div>
