<div class="container-fluid">
	<div class="nav-collapse">
		<ul class="nav nav-list">
			<% Odania.protected.pages.each do |protected_page| %>
				<li><%= link_to protected_page[:name], protected_page[:path] %></li>
			<% end %>
		</ul>
	</div>
</div>
