<p>
	<strong>Title:</strong>
	{{ category.title }}
</p>

<p>
	<strong>Language:</strong>
	{{ category.language_id }}
</p>

<a data-ng-href="#!/categories/{{ category.id }}/edit">Edit</a> | <a data-ng-href="#!/categories">Back</a>
