<div class="widget">
	<h4>
		<%= t('Top Categories') %>
		<div class="pull-right"><%= link_to t('more'), categories_path(locale: I18n.locale.to_s) %></div>
	</h4>
	<ul>
		<% current_site.categories.order('count DESC').limit(content['amount'].to_i).each do |category| %>
			<li><%= link_to category.title, category_path(category, locale: I18n.locale.to_s) %></li>
		<% end %>
	</ul>
</div>
