<h1>Listing admin_languages</h1>

<table class="table">
	<thead>
	<tr>
		<th>Name</th>
		<th>Iso 639 1</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	</thead>

	<tbody>
	<tr data-ng-repeat="language in languages">
		<td>{{ language.name }}</td>
		<td>{{ language.iso_639_1 }}</td>
		<td><a data-ng-href="#!/languages/{{ language.id }}">Show</a></td>
		<td><a data-ng-href="#!/languages/{{ language.id }}/edit">Edit</a></td>
		<td><a ng-confirm-click="deleteLanguage(language.id)" ng-confirm-message="Are you sure?">Destroy</a></td>
	</tr>
	</tbody>
</table>

<br/>

<%= link_to 'New Language', '#!/languages/new' %>
