<p id="notice"><%= notice %></p>

<p>
	<strong>Name:</strong>
	{{ language.name }}
</p>

<p>
	<strong>Iso 639 1:</strong>
	{{ language.iso_639_1 }}
</p>

<a data-ng-href="#!/languages/{{ language.id }}/edit">Edit</a> | <a data-ng-href="#!/languages">Back</a>
