@import "bootstrap";
@import "font-awesome";

.select_image {
	margin-left: 10px;
	float: left;
}

.select_image_active {
	border: 1px solid darkblue;
}

.categories-selection {
	height: 200px;
	max-height: 140px;
	overflow: scroll;
}

.tag-selection {
	height: 200px;
	max-height: 140px;
	overflow: scroll;
}

.show-print {
	display: none;
}
