<h1>Menu Items for {{ getLanguage(menu.language_id).iso_639_1 }} - Site: {{ getSite(menu.site_id).name }}</h1>

<table class="table">
	<thead>
	<tr>
		<th></th>
		<th>Title</th>
		<th>Published</th>
		<th>Target type</th>
		<th>Target date</th>
		<th>Parent</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	</thead>

	<tbody>
	<tr data-ng-repeat="menuItem in menuItems">
		<td>
			<span data-ng-if="menu.default_menu_item_id == menuItem.id" class="glyphicon glyphicon-star" data-ng-click="setDefault(menuItem)"></span>
			<span data-ng-if="menu.default_menu_item_id != menuItem.id" class="glyphicon glyphicon-star-empty" data-ng-click="setDefault(menuItem)"></span>
		</td>
		<td>{{ menuItem.title }}</td>
		<td>{{ menuItem.published }}</td>
		<td>{{ menuItem.target_type }}</td>
		<td>{{ menuItem.published }}</td>
		<td>{{ menuItem.parent_id == null ? '-' : getSite(menuItem.parent_id).name }}</td>
		<td><a data-ng-href="#/menus/{{ menu.id }}/menu_items/{{ menuItem.id }}">Show</a></td>
		<td><a data-ng-href="#/menus/{{ menu.id }}/menu_items/{{ menuItem.id }}/edit">Edit</a></td>
		<td><a ng-confirm-click="deleteMenuItem(menuItem.id)" ng-confirm-message="Are you sure?">Destroy</a></td>
	</tr>
	</tbody>
</table>

<br/>
<a data-ng-href="#/menus/{{ menu.id }}/menu_items/new">New Menu Item</a>
