<% if social %>
	<% if social['facebook'] %>
		<a href="<%= social['facebook'] %>" target="_blank">
			<i class="fa fa-facebook"></i>
		</a>
	<% end %>
	<% if social['twitter'] %>
		<a href="<%= social['twitter'] %>" target="_blank">
			<i class="fa fa-twitter"></i>
		</a>
	<% end %>
	<% if social['google_plus'] %>
		<a href="<%= social['google_plus'] %>" target="_blank">
			<i class="fa fa-google-plus"></i>
		</a>
	<% end %>
	<% if social['linked_in'] %>
		<a href="<%= social['linked_in'] %>" target="_blank">
			<i class="fa fa-linkedin"></i>
		</a>
	<% end %>
<% end %>
