<h1>Static Page for {{ getLanguage(currentMenu.language_id).iso_639_1 }} - {{ getSite(currentSite.id).name }}</h1>

<table class="table">
	<thead>
	<tr>
		<th>Title</th>
		<th>Is global</th>
		<th>Language</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	</thead>

	<tbody>
	<tr data-ng-repeat="staticPage in staticPages">
		<td>{{ staticPage.title }}</td>
		<td>
			<span data-ng-if="staticPage.is_global"><span class="fa fa-check"></span></span>
			<span data-ng-if="!staticPage.is_global"><span class="fa fa-close"></span></span>
		</td>
		<td>{{ getLanguage(staticPage.language_id).iso_639_1 }}</td>
		<td><a data-ng-href="#/static_pages/{{ staticPage.id }}">Show</a></td>
		<td><a data-ng-href="#/static_pages/{{ staticPage.id }}/edit">Edit</a></td>
		<td><a ng-confirm-click="deleteStaticPage(staticPage.id)" ng-confirm-message="Are you sure?">Destroy</a></td>
	</tr>
	</tbody>
</table>

<br/>

<a data-ng-href="#/static_pages/new">New Static Page</a>
