<p>
	<strong>Title:</strong>
	{{ staticPage.title }}
</p>

<p>
	<strong>Body:</strong>
	{{ staticPage.body }}
</p>

<p>
	<strong>Is global:</strong>
	{{ staticPage.is_global }}
</p>

<p>
	<strong>Language:</strong>
	{{ staticPage.language_id }}
</p>

<a data-ng-href="#/static_pages/{{ staticPage.id }}/edit">Edit</a> | <a data-ng-href="#/static_pages">Back</a>
