<p class="category">
	<% unless odania_content.tags.empty? %>
		<i class="glyphicon glyphicon-folder-open"></i>
		<%= t('Tagged as') %>:
		<% odania_content.tags.each_with_index do |tag, idx| %>
			<% if idx > 0 %>, <% end %>
			<%= link_to tag.name, tag_url(tag: tag.name.parameterize), {rel: 'tag'} %>
		<% end %>
	<% end %>
</p>
