<h1><%= t('Tag _tag', tag: @tag.name) %></h1>

<p>
	<% @tag_xrefs.each do |tag_xref| %>
		<%= link_to tag_xref.ref.title, polymorphic_url([tag_xref.ref], {locale: tag_xref.ref.language.iso_639_1}) %>
	<% end %>
</p>
