<h1><%= t('Tag _tag', tag: @tag.name) %></h1>

<p>
	<% @tag_xrefs.each do |tag_xref|
		ref = tag_xref.ref %>
		<% if ref.is_active %>
			<%= link_to ref.title, polymorphic_url([ref], {locale: ref.language.iso_639_1}) %>
		<% end %>
	<% end %>
</p>
