<div class="field">
	<label>Static Page</label>
	<select data-ng-model="targetData.id">
		<option data-ng-repeat="staticPage in data.static_pages" value="{{ staticPage.id }}">{{ staticPage.title }}</option>
	</select>
	<br/>
</div>
