<h1>Listing admin_sites</h1>

<table class="table">
	<thead>
	<tr>
		<th>Name</th>
		<th>Host</th>
		<th>Is active</th>
		<th>Is default</th>
		<th>Template</th>
		<th>Default Language</th>
		<th>Language</th>
		<th>Redirect to</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	</thead>

	<tbody>
		<tr data-ng-repeat="site in sites">
			<td>{{ site.name }}</td>
			<td>{{ site.host }}</td>
			<td>
				<span data-ng-if="site.is_active"><span class="glyphicon glyphicon-ok"></span></span>
				<span data-ng-if="!site.is_active"><span class="glyphicon glyphicon-remove"></span></span>
			</td>
			<td>
				<span data-ng-if="site.is_default"><span class="glyphicon glyphicon-ok"></span></span>
				<span data-ng-if="!site.is_default"><span class="glyphicon glyphicon-remove"></span></span>
			</td>
			<td>{{ site.template }}</td>
			<td>{{ site.default_language_id }}</td>
			<td>{{ getLanguages(site) }}</td>
			<td>{{ site.redirect_to_id == null ? '-' : site.redirect_to_id }}</td>
			<td>{{ site.host }}</td>
			<td><a data-ng-href="#/sites/{{ site.id }}">Show</a></td>
			<td><a data-ng-href="#/sites/{{ site.id }}/edit">Edit</a></td>
			<td><a ng-confirm-click="deleteSite(site.id)" ng-confirm-message="Are you sure?">Destroy</a></td>
		</tr>
	</tbody>
</table>

<br/>

<%= link_to 'New Site', '#/sites/new' %>
