<p>
	<strong>Name:</strong>
	{{ site.name }}
</p>

<p>
	<strong>Host:</strong>
	{{ site.host }}
</p>

<p>
	<strong>Is active:</strong>
	{{ site.is_active }}
</p>

<p>
	<strong>Is default:</strong>
	{{ site.is_default }}
</p>

<p>
	<strong>Tracking code:</strong>
	{{ site.tracking_code }}
</p>

<p>
	<strong>Description:</strong>
	{{ site.description }}
</p>

<p>
	<strong>Default Language:</strong>
	{{ getLanguage(site.default_language_id).name }}
</p>

<p>
	<strong>Redirect to:</strong>
	{{ site.redirect_to_id }}
</p>

<a data-ng-href="#!/sites/{{ site.id }}/edit">Edit</a> | <a data-ng-href="#!/sites">Back</a>
