<div class="form-group">
	<label class="col-sm-2 control-label" for="site_name">Name</label>

	<div class="col-sm-10">
		<input type="text" id="site_name" class="form-control" data-ng-model="site.name" placeholder="Site Name"/>
		<span data-ng-if="errors.name" style="color: red;">{{ printErrors(errors.name) }}</span>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label" for="site_domain">Host</label>

	<div class="col-sm-10">
		http://{{ site.subdomain }}.{{ site.domain }}
	</div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label" for="site_domain">Domain</label>

	<div class="col-sm-10">
		<input type="text" id="site_domain" class="form-control" data-ng-model="site.domain" placeholder="odania-it.com"/>
		<span data-ng-if="errors.domain" style="color: red;">{{ printErrors(errors.domain) }}</span>

		<p class="help-block"><%= t('models.site.domain.description') %></p>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label" for="site_subdomain">Subdomain</label>

	<div class="col-sm-10">
		<input type="text" id="site_subdomain" class="form-control" data-ng-model="site.subdomain" placeholder="www"/>
		<span data-ng-if="errors.subdomain" style="color: red;">{{ printErrors(errors.subdomain) }}</span>

		<p class="help-block"><%= t('models.site.subdomain.description') %></p>
	</div>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">Languages / Menus</label>

	<div class="col-sm-10">
		<div data-ng-repeat="language in languages" class="form-control">
			<input type="checkbox" name="selectedLanguages[]" value="{{language.id}}" ng-checked="site.languages.indexOf(language.id) > -1"
					 data-ng-click="toggleLanguageSelection(language.id)"> {{language.name}}
		</div>
	</div>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">Redirect to</label>

	<div class="col-sm-10">
		<select data-ng-model="site.redirect_to_id" class="form-control" data-ng-options="site.id as site.name for site in sites"></select>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label">Template</label>

	<div class="col-sm-10">
		<select data-ng-model="site.template" class="form-control" data-ng-options="template.template as template.name for template in templates"></select>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label">Imprint</label>

	<div class="col-sm-10">
		<select data-ng-model="site.imprint_id" class="form-control" data-ng-options="staticPage.id as staticPage.title for staticPage in data.static_pages"></select>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label">Terms & Conditions</label>

	<div class="col-sm-10">
		<select data-ng-model="site.terms_and_conditions_id" class="form-control" data-ng-options="staticPage.id as staticPage.title for staticPage in data.static_pages"></select>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label">Default Widget</label>

	<div class="col-sm-10">
		<select data-ng-model="site.default_widget_id" class="form-control" ng-options="widget.id as widget.name for widget in data.widgets"></select>
		<span data-ng-if="errors.default_widget_id" style="color: red;">{{ printErrors(errors.default_widget_id) }}</span>
	</div>
</div>
