<div class="form-group">
	<label class="col-sm-2 control-label">Template</label>

	<div class="col-sm-10">
		<select data-ng-model="site.template" class="form-control" data-ng-options="template.template as template.name for (name, template) in general.templates">
			<option value="">Default</option>
		</select>
	</div>
</div>

<div class="form-group" data-ng-repeat="property in getCurrentTemplate().additional_properties">
	<label class="col-sm-2 control-label">{{ property.name }}</label>

	<div class="col-sm-10">
		<textarea data-ng-if="property.type == 'textarea'" data-ng-model="site.additional_parameters[property.name]" class="form-control" rows="5"></textarea>
		<input data-ng-if="property.type == 'text'" type="text" class="form-control" data-ng-model="site.additional_parameters[property.name]"/>
	</div>
</div>
