<div class="form-group">
	<label class="col-sm-2 control-label">Facebook</label>

	<div class="col-sm-10">
		<input type="text" data-ng-model="site.social.facebook" placeholder="https://www.facebook.com/mike.petersen79"/>
	</div>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">Twitter</label>

	<div class="col-sm-10">
		<input type="text" data-ng-model="site.social.twitter" placeholder="https://twitter.com/OdaniaIT"/>
	</div>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">Google+</label>

	<div class="col-sm-10">
		<input type="text" data-ng-model="site.social.google_plus" placeholder="https://plus.google.com/110850943371659722554/posts"/>
	</div>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">LinkedIn</label>

	<div class="col-sm-10">
		<input type="text" data-ng-model="site.social.linked_in" placeholder="http://de.linkedin.com/in/mikepetersen79"/>
	</div>
</div>
