<div class="form-group">
	<label class="col-sm-2 control-label">Default from email</label>

	<div class="col-sm-10">
		<input type="text" class="form-control" data-ng-model="site.default_from_email" placeholder="mail@example.com"/>
	</div>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">Notify email</label>

	<div class="col-sm-10">
		<input type="text" class="form-control" data-ng-model="site.notify_email_address" placeholder="inform-me@example.com"/>
	</div>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">Tracking code</label>

	<div class="col-sm-10">
		<textarea class="form-control" rows="10" data-ng-model="site.tracking_code"></textarea>
	</div>
</div>
